.container{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 60% 40%;
    grid-template-areas: "navigation navigation"
                         "list       details";
}

app-navigation-panel {
    grid-area: navigation;
}

app-details-panel {
    grid-area: details;
}

main{
    grid-area: list;
}