<main>
    <div class="filter-container">
        <label for="filter">Filter</label>
        <input id="filter" type="text" placeholder="Type to search" [(ngModel)]="textToFilter">
    </div>
    <table>
        <thead>
            <th align="left">Name</th>
            <th align="left">Federation</th>
            <th align="left">ELO</th>
            <th align="left"></th>
        </thead>

        <tbody>
        <tr *ngFor="let player of players | filter: textToFilter; let i = index" (click)="setClickedPlayer(player)">
                <td>{{ player.name }}</td>
                <td>{{ player.federation }}</td>
                <td>{{ player.ELO }}</td>
                <td>
                    <button (click)="deletePlayer(i, $event)"> Delete </button>
                </td>
            </tr>
        </tbody>
    </table>
</main>