table {
    th {
        font-size: 2em;
        padding: 0.25em;
    }

    tr {
        font-size: 1.3em;
        height: 1.5em;

        &:hover{
            background-color: antiquewhite;
        }

        td{
            padding: 0.25em;
        }
    }
}